
.border {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -43pt;
  margin-left: -43pt;
  width: 85pt;
  height: 85pt;
  border-style: solid;
  border-color: black;
  border-width: 1pt;
  border-radius: 6pt;
  font-family: Roboto;
  text-align: center;
  font-size: 9pt;
  color: white;
  background-image: url('wallpaper2.png');
  background-size: cover;
  z-index: 0;
}

#header {
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-top-right-radius: 6pt;
  border-top-left-radius: 6pt;
}

#song {
  margin-top: 0pt;
  height: 8pt;
}

#map-img {
  width: 255pt;
  position: absolute;
  top: 50%;
  margin-top: -70pt;
}

#person {
  width: 12pt;
  position: absolute;
  top: 75pt;
  left: 125pt;
  transform: rotate(-45deg);
  z-index: 2;
}

#map {
  width: 0pt;
  height: 150pt;
  border-style: solid;
  border-color: black;
  border-width: 1pt;
  border-radius: 6pt;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -75pt;
  margin-right: 45pt;
  overflow-x: auto;
  visibility: hidden;
}

#map.show {
  width: 255pt;
  -webkit-transition: width 1s;
  transition: width 1s;
}

#map.hide {
  width: 0pt;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.stage-pin {
  width: 10pt;
  position: absolute;
}

.wc-pin {
  width: 10pt;
  position: absolute;
}

.f-pin {
  width: 10pt;
  position: absolute;
}

.food-pin {
  width: 10pt;
  position: absolute;
}

.s-pin {
  width: 10pt;
  position: absolute;
}

.pin {
  width: 15pt;
  vertical-align: middle;
  margin-right: 7pt;
  cursor: pointer;
}

.stageImg {
  width: 10pt;
  vertical-align: middle;
}

.stageName {
  width: 40%;
  padding-left: 5pt;
}

.stageInfo {
  padding-left: 10pt;
  border-bottom-style: solid;
  border-bottom-width: medium;
  border-bottom-color: white;
}

::-webkit-scrollbar {
  display: none;
}

#watch {
  width: 158pt;
  height: 150pt;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -79pt;
  margin-top: -75pt;
}

#chooseMenu {
  width: 70pt;
  height: 60pt;
  margin-left: 5pt;
  overflow-y: scroll;
}

.friendtable {
  overflow-y: scroll;
  height: 60pt;
  width: 100%;
  text-align: left;
  padding-left: 5pt;
}

.scroltable {
  height: 60pt;
  overflow-y: scroll;
}

#stagesInfo {
  width: 100%;
  height: 60pt;
  overflow-y: scroll;
  text-align: left;
}

#title {
  width: 80pt;
  margin-left: 2pt;
  margin-top: 5pt;
  margin-bottom: 2pt;
}

.food-button {
  border-style: solid;
  border-width: 0.5pt;
  border-color: black;
  border-radius: 6pt;
  margin-left: 10pt;
  margin-right: 5pt;
  margin-top: 5pt;
  margin-bottom: 0pt;
  padding: 0.5pt;
  width: 52pt;
  background: linear-gradient( #737373, #262626);
  text-align: center;
  cursor: pointer;
}

.button {
  background-color: #808080;
  width: 0.2cm;
  height: 0.4cm;
  border-style: solid;
  border-width: thin;
  cursor: pointer;
}

.icon {
  margin-bottom: 4pt;
  width: 5pt;
}

.arithmetic {
  width: 5pt;
  border-style: solid;
  border-radius: 1pt;
  border-color: #15FF15;
  background-color: #15FF15;
  cursor: pointer;
}

#button-right {
  position: absolute;
  top: 50%;
  margin-top: -5pt;
  right: 50%;
  margin-right: -50.2pt;
  border-top-right-radius: 2pt;
  border-bottom-right-radius: 2pt;
}

#menu-image {
  margin-top: 8pt;
  left: 50%;
  width: 35pt;
  border-style: solid;
  border-width: thin;
  border-radius: 50%;
  padding: 3pt;
  background: linear-gradient(#0086e6, #002e4d);
  cursor: pointer;
}

#next-image {
  width: 15pt;
  position: absolute;
  top: 45pt;
  right: 0pt;
  -webkit-filter: opacity(50%);
  cursor: pointer;
}

#prev-image {
  width: 15pt;
  position: absolute;
  top: 45pt;
  left: 0pt;
  cursor: pointer;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  -webkit-filter: opacity(50%);
}

#descriptionTable {
  width: 75pt;
  margin-left: 3pt;
  margin-top: 5pt;
  text-align: left;
  font-size: 8pt;
  border-collapse: collapse;
}

.price, #totalPrice {
  font-size: 8pt;
  text-align: right;
  padding-right: 5pt;
}

.topBorder {
  font-size: 8pt;
  border-top-style: solid;
  border-top-color: black: border-top-width: 1pt;
}

#confirm {
  width: 60pt;
  font-size: 8pt;
  padding: 2pt;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30pt;
  margin-top: -25pt;
  background-color: #d9d9d9;
  border-style: solid;
  border-width: thin;
  border-radius: 6pt;
  text-align: center;
  color: white;
  background-image: url(wallpaper2.png);
  background-size: cover;
  z-index: 5;
}

.smallButtons {
  border-radius: 100%;
  background-color: rgba(255, 255, 255, .06);
  padding-top: 3pt;
  cursor: pointer;
  width: 17pt;
}

.playlistButton {
  border-radius: 100%;
  background-color: rgba(255, 255, 255, .06);
  padding-top: 3pt;
  cursor: pointer;
  width: 17pt;
  border-style: solid;
  border-width: 1pt;
  border-color: #807E7E;
}

.listOfPlaylists {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -43pt;
  margin-left: -18pt;
  width: 60pt;
  height: 85pt;
  border-style: solid;
  border-color: #1B2A41;
  font-family: Roboto;
  font-size: 9pt;
  border-radius: 6pt;
  background: linear-gradient(#002e4d, #0086e6);
  border-style: solid;
  color: white;
  opacity: 0.9;
}

#progress1 {
  width: 75pt;
  height: 10pt;
}

#progress2 {
  width: 20pt;
  height: 5pt;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #09c, #f44);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
}

#notification {
  background: linear-gradient(#002e4d, #0086e6);
  border-style: solid;
  border-color: white;
  padding: 5pt;
  border-radius: 10pt;
  border-width: 1pt;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -23pt;
  margin-left: -33pt;
  text-align: center;
  height: 40pt;
  width: 55pt;
  font-size: 9pt;
  font-family: Roboto;
  color: white;
  opacity: 0.9;
  z-index: 5;
}

#notificationIMG {
  position: absolute;
  top: 47%;
  left: 50%;
  margin-top: -28pt;
  margin-left: -38pt;
  width: 10pt;
  border-style: solid;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.1);
  padding: 1pt;
  cursor: pointer;
}

.marquee {
  margin-top: 2pt;
  height: 30pt;
  overflow: hidden;
}

.marquee p {
  padding-top: 50%;
  animation: marquee 100s linear 1;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
}

#poolMenu {
  width: 14%;
  color: white;
  background: linear-gradient(#002e4d, #0086e6);
  font-size: 9pt;
  font-family: Roboto;
  height: 15%;
  z-index: 2;
  position: absolute;
  left: 50%;
  margin-left: -7.1%;
  margin-top: 12pt;
  bottom: 37%;
  border-style: solid;
  border-color: #1B2A41;
  border-width: 1pt;
  border-radius: 6pt;
  overflow-y: auto;
  opacity: 0.9;
}

#poolTable {
  width: 100%;
  border-collapse: collapse;
}

#help {
  background: linear-gradient(#002e4d, #0086e6);
  border-style: solid;
  border-color: white;
  padding: 5pt;
  border-radius: 10pt;
  border-width: 1pt;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -23pt;
  margin-left: -33pt;
  text-align: center;
  height: 40pt;
  width: 55pt;
  font-size: 9pt;
  font-family: Roboto;
  color: white;
  opacity: 0.9;
  z-index: 5;
  overflow-y: scroll;
}

.helpimg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -38pt;
  width: 8pt;
  border-style: solid;
  border-radius: 50%;
  border-width: 0.5pt;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
  padding: 1pt;
  cursor: pointer;
}

#helpIMG {
  margin-left: 12pt;
}

#helpIMG2 {
  margin-left: 14pt;
}

#helpIMG3 {
  margin-left: 11pt;
}
